name: Release Charts

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.5
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4.3.0
        with:
          version: v4.3.1

      - name: Helm Deps
        run: |
          for dir in $(ls -d stable/*); do
            helm dependency update $dir;
          done
        env:
          HELM_EXPERIMENTAL_OCI: 1

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.2.1
        with:
          charts_dir: stable
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
